# 서버 포트 설정
PORT=3306

# 데이터베이스 연결 정보 (팀원 코드 및 새 DB 기준)
DB_HOST= 127.0.0.1
DB_USER= user_id
DB_PASS= user_password
DB_NAME= dr_mas_db

# API 키 설정 (반드시 본인의 키를 입력하세요)
GEMINI_API_KEY=여러분의_제미나이_API_키
PUBLIC_API_KEY=공공데이터_포털_서비스_키
KAKAO_REST_API_KEY=여러분의_카카오_API_키

** example 예시 파일입니다.
.env 파일에서 입력 